@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F0ED;
    color: #10120A;
}

:focus {
    border: 2px solid #00CC00;
    outline: #00CC00;
}

h1 {
    @apply text-blue-deep text-xl font-bold;
}

h2 {
    @apply text-blue-deep text-lg font-bold;
}

@media (min-width: 768px) {
    h1 {
        @apply text-2xl
    }
    h2 {
        @apply text-xl
    }
}